/* Footer Styles */
.footer {
    width: 100%;
    background-color: #1976d2;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  .footer a:hover {
    text-decoration: underline;
  }
  .footer-content {
    margin-bottom: 10px;
  }
  .footer-copy {
    font-size: 0.8rem;
  }
  