/* Global Styles */


html, body, #root {
    width: 100%;
    min-height: 100dvh;
    background-color: #e3f2fd; /* Blueish overall background */
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
    /*hide scrollbar but keep scroll functionality*/
    scrollbar-width: none; /* Firefox */
}

/* Add a container for overflow management instead */
.page-container {
    overflow-x: hidden; /* Move the overflow handling here */
}
