/* Layout for Footer Placement */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh; /* Use vh for full viewport height */
  padding-top: 0; /* Remove any top padding */
}

.content-wrap {

  flex: 1;
  padding: 10px;
  padding-bottom: 40px; /* Add padding at bottom to ensure content isn't cut off */
}

/* Container: centers overall content */
.container {
  width: 100%;
}

/* Make sure the footer doesn't overlap content */
footer {
  margin-top: auto;
}

